body {
    /* background-image: linear-gradient(to right bottom, #00728e, #366480, #46586d, #4a4d59, #454545);
    color: whitesmoke; */
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
}

#board-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#board {
    /* border: 1px solid black; */
}

.interface {
    position: absolute;
    width: 500px;
    background-color: #6b6b6b8c;
    border-radius: 0.2em;
    padding: 1em;
    margin: 1em;
    backdrop-filter: blur(6px);
}

.bottom-row {
    display:flex;
    /* Direct alignment of content along horizontal axis */
    flex-direction:row;
    justify-content: space-between;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    align-items:center;
}

.checkbox {
    /* Use flexbox for slider wrapper element */
    display:flex;
    /* Direct alignment of content along horizontal axis */
    flex-direction:row;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    align-items:center;
}

.checkbox-input {
    margin-left: 0;
    /* Causes the input element to horizontally stretch to fill in available horizontal space */
    /* flex:1; */
} 

.slider {
    /* Use flexbox for slider wrapper element */
    display:flex;
    /* Direct alignment of content along horizontal axis */
    flex-direction:row;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    align-items:center;
}
  
.slider-label {
    width:75px; 
}

.slider-input {
    /* Causes the input element to horizontally stretch to fill in available horizontal space */
    flex:1;
}

.slider-value {
    width: 1em;
    font-size: 1em;
    margin-left: 0.5em;
    text-align: center;
}

.paper-spec{
    /* Use flexbox for slider wrapper element */
    display:flex;
    /* Direct alignment of content along horizontal axis */
    flex-direction:row;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    align-items:center;
}

.paper-spec-input{
    /* Use flexbox for slider wrapper element */
    display:flex;
    /* Direct alignment of content along horizontal axis */
    flex-direction:column;
    flex: 0.40;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    align-items:center;
}

.paper-spec-label {
    display: inline-block; 
    width: 75px;
}


.paper-spec-number {
    width: 3em;
    font-size: 1em;
}

.paper-spec-predefined {
    /* Use flexbox for slider wrapper element */
    display:flex;
    flex: 1;
    /* Direct alignment of content along horizontal axis */
    flex-direction:row;
    column-gap: 0.5em;
    /* Tell's flexbox to center content around the non-horizontal axis (ie around the vertical axis) */
    justify-content: center;
}